.home{
    background-image: url(https://thumbs.dreamstime.com/b/holiday-welcome-sign-hanging-rustic-teal-blue-wood-background-white-christmas-garland-border-61613569.jpg);
    height: 103vh;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    background-repeat: no-repeat;
}

.content{

margin-left: 400%

}